html {
	background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS-48Qi5X8XR-u1zQgA0JH_v42Fa9Yq2O82a__lr1OBaPVD6PRqpw);
}
body {
	background: rgba(180,250,180,0.8);
}
div.panel-title {
	text-align:center;
}
div.panel-title + div {
	color: rgba(100,100,100,0.99);
	font-size: 1.7rem;
	margin-bottom: 1ex;
}
#categories div {
	background: rgba(200,200,180,0.9);
}
