body {
	background: rgba(150,255,150,0.2) url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS-48Qi5X8XR-u1zQgA0JH_v42Fa9Yq2O82a__lr1OBaPVD6PRqpw);
}
div.panel-title {
	text-align:center;
}
div.panel-title + div {
	color: rgba(100,100,100,0.9);
	font-size: 1.7rem;
	margin-bottom: 1ex;
}

