:root {
  --squareSize: 4rem;
  --boxborder: 3pt black solid;
}
section {
  text-align: center;
}
#board {
  display: inline-grid;
  grid-template-columns: var(--squareSize) var(--squareSize) var(--squareSize);
  grid-template-rows: var(--squareSize) var(--squareSize) var(--squareSize);
  grid-template-areas:
  "r1c1 r1c2 r1c3"
  "r2c1 r2c2 r2c3"
  "r3c1 r3c2 r3c3";
  width: auto;
  height: auto;
}
.r1 {
  border-bottom: var(--boxborder);
}
.r2 {
  border-top: var(--boxborder);
  border-bottom: var(--boxborder);
}
.r3 {
  border-top: var(--boxborder);
}
}.c1 {
  clear:left;
  border-right: var(--boxborder);
}
.c2 {
  border-left: var(--boxborder);
  border-right: var(--boxborder);
}
.c3 {
  border-left: var(--boxborder);
}
.square {
  display: inline-flex;
  width: var(--squareSize);
  height: var(--squareSize);
  vertical-align: bottom;
  text-align: center;
  font-size: calc(var(--squareSize) - 1rem);
  background-color: lightgray;
}

.square.playerX {
  background-color: red;
}
.square.playerO {
  background-color: green;
}
