:root {
   --tile-size: 3rem;
   --border-size: 3pt;
   --tile-font: 2rem sans-serif;
   --board-size: 4;
   --grid-spacing: 0.25rem;
}
#game-board {
   display: inline-grid;
   grid-gap: var(--grid-spacing);
   grid-template-columns: auto;
   grid-template-rows: auto auto auto auto;
   grid-template-areas:
   "r1"
   "r2"
   "r3"
   "r4";
   border-radius: calc( var(--grid-spacing) / 1.5 );
   padding: var(--grid-spacing);
   background: lightblue;
}
.row {
   display: inline-grid;
   grid-gap: var(--grid-spacing);
   grid-template-columns: var(--tile-size) var(--tile-size) var(--tile-size) var(--tile-size);
   grid-template-rows: var(--tile-size);
   grid-template-areas:
   "c1  c2  c3  c4";
}
.tile {
   display: flex;
   justify-content: center;
   align-items: center;
   align-content: center;
   font: var(--tile-font);
   border: solid black 1pt;
   border-radius: calc( var(--grid-spacing) / 1.5 );
}
