

.intro {
      
      background:
          url(../magenta-frog.jpg) 
            no-repeat top right;
            max-width:100%;
            height: auto;
              

      
  
}
}
