

.intro#zen-intro {
      background:
          url(../magenta-frog.jpg) no-repeat top right;
      box-shadow: 
	  0rem 0rem 3rem 2rem hsla( 106, 48%, 10%, 1 );
      background-size: 
	  30% auto;	
}

body {
      background:
            url(../jungle.jpg)
            no-repeat center center fixed; 
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;            
}

section#zen-intro h1 {
	color: rgba( 255, 46, 95, 1 );
	
}
